.SearchName{
    width: 200px;
}
.SearchName{
    display: flex;
}

.React18 ul{
    padding: 0;
}
.React18 li{
    background-color: rgb(195, 109, 4);    
    margin-bottom: 1px;
    list-style: none;
    color: aliceblue;
    
}
.SearchName label{
    border: 5px solid rgb(255, 255, 255);
}
.SearchName label:nth-child(1) {
    background-color: black;
    color: rgb(250, 250, 0);
}

.SearchName label:nth-child(2) {
    background-color: rgb(65, 2, 2);
    color: rgb(255, 255, 255);
}

.SearchName label:nth-child(3) {
    background-color: rgb(4, 85, 1);
    color: rgb(255, 255, 254);
    margin-right: 10px;
}